<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Justified Nav Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="masthead">
      <img width="200" src="http://files.myopera.com/careclinic/albums/6162791/Medical_Symbol.jpg">
        <h2 class="text-muted">Health Profile</h2>
        <!--#left: 165px;-->
        <ul class="nav nav-justified">
          <!-- <li class="active"><a href="#">Home</a></li> -->
          <li><a href="#">Notifications</a></li>
          <li><a href="new">Profile</a></li>
          <li><a href="http://symptoms.webmd.com/default.htm#introView">Symptom Checker</a></li>
          <li><a href="http://www.zocdoc.com/">Contact a Doctor</a></li>
          <li><a href="#">Upload Documents</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Welcome to your Health Profile!</h1>
        <p class="lead">This is a site where you can monitor your health and share information with your doctors.</p>
        <% if current_user %>
          <p><%= link_to 'View Your Profile', histories_path, class: 'btn btn-lg btn-success' %></p>
        <% else %>
          <p><%= link_to 'Create a profile', new_user_registration_path, class: 'btn btn-lg btn-success' %></p>
        <% end %>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Intelligent Monitoring</h2>
          <p>Have "HealthProfile.com" and doctors check-in and recommend follow-ups.</p>
          <p><a class="btn btn-primary" href="http://www.zocdoc.com/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Online Community</h2>
          <p>Share your health questions with the community. Doctors will respond.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Organize</h2>
          <p>All your medical information in one place for you and your doctor to share.</p>
          <p><a class="btn btn-primary" href="new" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>Victor Simoes 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
